<div id=HomePage class="HomeIcon ">

    <canvas id="bgBox" class="bg_img">

    </canvas>

    <div id="imgBox">
      <img id="maskEye" class="logoImg up" src="./hom_logo_image/bleach_mask_face_top.png" alt="">
      <img id="maskFrame" class="logoImg down" src="./hom_logo_image/bleach_mask_face_down.png" alt="">
      <img id="maskstrips" class="logoImg up" src="./hom_logo_image/bleach_mask_strips_top.png" alt="">
      <img id="maskstrips" class="logoImg down" src="./hom_logo_image/bleach_mask_strips_down.png" alt="">
      <img id="maskTeeth" class="logoImg up" src="./hom_logo_image/bleach_mask_teeth_top.png" alt="">
      <img id="maskstrips" class="logoImg down" src="./hom_logo_image/bleach_mask_teeth_down.png" alt="">      
      <img id="maskstrips" class="logoImg up blur" src="./hom_logo_image/bleach_mask_eye.png" alt="">
    </div>

  </div>

  <div id="Name"> 
    <H1>Name</H1>
  </div>